<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, placeholder: 'First Name' %>
  <%= f.input :last_name, placeholder: 'Last Name' %>
  <%= f.input :email, placeholder: 'E-mail', :autofocus => true %>
  <%= f.input :password, placeholder: 'Password' %>
  <%= f.input :password_confirmation, placeholder: 'Confirm your password' %>
  <div><%= f.submit "Sign up" %></div>
<% end %>

<!-- <%= render "devise/shared/links" %> -->
