<div class="page-header">
  <h1>All Happy Places</h1>
  <%= form_tag '/search/index', method: :get do%>
    <%= label_tag 'q', "Search" %>
    <%= text_field_tag 'q' %>
    <%= submit_tag 'Submit' %>
  <% end %>
</div> <!-- end page header div -->
<div class="row">
  <div class="all">
    <div class="row">
      <div class="col-md-4">
        <% @tags.each do |tag| %>
          <h3><%= tag.title %></h3>
          <p><%= tag.category %></p>
          <p><%= tag.comment %></p>
        <% end %>
      </div>
      <div class="col-md-8">

      </div>
    </div>
  </div>
</div>


