<div class="page-header">
  <h1>Edit Your Happy Place</h1>
</div> <!-- end page header div -->

<%= simple_form_for @tag do |f| %>

  <%= f.input :title, placeholder: 'Title', label: false %>
  <%= f.input :address, placeholder: 'Address or City,State', label: false %>
  <%= f.collection_select :category, Tag::CATEGORIES, :to_s, :humanize %>
  <%= f.input :comment, placeholder: 'Add a comment', label: false %>
  <%= f.submit "Update Happy Place" %>

<% end %>