<p>
  <%= link_to "My Happy Places", tags_path %>
</p>
<h1>Add a Happy Place</h1>
<%= simple_form_for @tag do |f| %>

  <%= f.input :title, placeholder: 'Title', label: false %>
  <%= f.collection_select :category, Tag::CATEGORIES, :to_s, :titleize %>
  <%= f.input :comment, placeholder: 'Add a comment', label: false %>
  <%= f.submit "Add" %>

<% end %>