<p>
  <%= link_to "My Happy Places", tags_path %>
</p>
<h1>Add a Happy Place</h1>
<%= simple_form_for @tag do |f| %>

  <%= f.input :title, placeholder: 'Title' %>
  <%= f.association :category, placeholder: 'Pick a category' %>
  <%= f.input :comment, placeholder: 'Add a comment' %>
  <%= f.submit "Add" %>

<% end %>