<!DOCTYPE html>
<html>
<head>
  <title>FinalApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="welcome">
<h5><% if user_signed_in? %>
Welcome, <%= current_user.first_name %>! <%= link_to "[ Logout ]", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %> | <%=link_to "Sign up", new_user_registration_path %></h5>
<% end %>
</div>

<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert"><%= alert %></p>
<% end %>

<div class="container">
  <header class="row">
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand active" <%= link_to "FIND HAPPY", root_path %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "All Happy Places", final_index_path %></li>
      <li><%= link_to "My Happy Places", tags_path %></li>
      <li><%= link_to "Add a new Happy Place", new_tag_path %></li>

<!--     <ul class="nav navbar-nav navbar-text navbar-right">
      <li><% if user_signed_in? %>
Welcome, <%= current_user.first_name %>! <%= link_to "[ Logout ]", destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "Login", new_user_session_path %> | <%=link_to "Sign up", new_user_registration_path %>
<% end %></li>
    </ul> -->
  </div><!-- /.navbar-collapse -->
</nav>
</header>
<%= yield %>
</div>

</body>
</html>
